<h1><%= @stock.name %></h1>
<h3>(<%= @stock.ticker %>)</h3>
<p><strong>Address:</strong> <%= @stock.address %></p>
<p><strong>Webpage:</strong> <%= link_to @stock.webpage, @stock.webpage, :target => "_blank" %></p>
<p><strong>Company overview:</strong> <%= @stock.overview %></p>

<% unless @prices.empty? %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= content_tag :div, "", id: "chart", data: { prices: @prices } %>
    </div>

    <div class="col-xs-12 col-md-4 col-md-offset-2">
      <table class="table table-striped" style="margin-top: 86px;">
        <thead>
          <tr>
            <th colspan="1"></th>
            <th>Price</th>
            <th>Growth</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% @prices.each do |pr| %>
            <tr>
              <td colspan="1"></td>
              <td><%= pr.price %></td>
              <td><%= pr.growth ||= "no data" %></td>
              <td><%= pr.date %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% else %>
    <p>There are no prices available for this stock yet.</p>
<% end %>

<%= link_to "Back to all stocks", root_path %>
