<h1><%= @stock.name %></h1>
<h3>(<%= @stock.ticker %>)</h3>
<p><strong>Address:</strong> <%= @stock.address %></p>
<p><strong>Webpage:</strong> <%= link_to @stock.webpage, @stock.webpage, :target => "_blank" %></p>
<p><strong>Company overview:</strong> <%= @stock.overview %></p>

<% unless @prices.empty? %>
  <table>
    <tr>
      <th>Price</th>
      <th>Growth</th>
      <th>Date</th>
    </tr>
    <% @prices.each do |pr| %>
    <tr>
      <td><%= pr.price %></td>
      <td><%= pr.growth ? pr.growth : "no data" %></td>
      <td><%= pr.date %></td>
    </tr>
    <% end %>
  </table>
<% end %>
<%= content_tag :div, "", id: "chart", data: { prices: @prices } %>
<%= link_to "Back to all stocks", stocks_path %>
